@import './_mixins';
@import './_colours';
@import './_fonts';

.alert {
  margin-top: 0.5rem;
  @include font(1.2rem, $fLight);
  padding: 1rem;
  width: 100%;
  &--error {
    border: 1px solid $red;
    background-color: lighten($red, 0.3);
    color: $base;
  }
  &--success {
    border: 1px solid darken($green, 0.5);
    background-color: $green;
    color: $base-dark;
  }
}
