$base: #fafafa;
$bg-shading: rgba(0, 0, 0, 0.35);
$bg-shading-70: rgba(0, 0, 0, 0.7);
$bg-dark: rgba(0, 0, 0, 0.9);
$accent: #fdb90c;
$tile: rgba(255, 255, 255, 0.95);
$base-dark: #000;
$grey: #efefef;
$red: #aa2222;
