@import './_mixins';
@import './_colours';
@import './_fonts';
@import './global';

.book-table {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100%;
  background-color: $bg-dark;
  @include z-index(book-table);
  overflow-y: scroll;

  @media (min-width: 768px) and (min-height: 640px) {
    @include flex(center, center);
    height: 100vh;
  }

  &__wrapper {
    @include flex(center, center, column);
    background-color: #fff;
    position: relative;
    padding: 3rem;

    &::before {
      content: '';
      border: 2px solid $accent;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      bottom: 0.5rem;
      left: 0.5rem;
    }
  }

  &__title {
    @include font(4.8rem, $fLight);
    text-align: center;
  }
}

.form-reservation {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  background-color: $tile;
  padding: 3rem;
  max-width: 75.8rem;
  width: 100%;
  @include z-index(book-table-form);

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 860px) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__group {
    @include flex(space-between, flex-start, column);
    padding-bottom: 1.5rem;

    &--w100 {
      @media (min-width: 640px) {
        grid-column: 1/3;
      }
      @media (min-width: 1024px) {
        grid-column: 1/4;
      }
    }
  }

  &__field {
    height: 5rem;
    width: 100%;
    background-color: $grey;
    border: none;
    @include font(1.8rem, $fLight);
    padding: 0 1rem;
    margin-top: 0.5rem;

    &:focus {
      outline-color: $accent;
    }

    &--textarea {
      resize: none;
      height: 15rem;
      width: 100%;
      padding: 1rem;
    }
  }

  &__label {
    @include font(1.6rem, $fLight);
  }

  &__button {
    @media (min-width: 860px) {
      grid-column: 2/3;
    }
  }
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;

  &__line {
    width: 3rem;
    height: 0.2rem;
    background-color: $bg-dark;
    display: block;
    margin: 0.5rem auto;
    transition: all 0.3s ease-in-out;
  }

  &__line:nth-child(1) {
    transform: translateY(0.6rem) rotate(45deg);
  }
  &__line:nth-child(2) {
    transform: translateY(-0.1rem) rotate(-45deg);
  }
}
