@import './_colours';
@import './_fonts';
@import './_mixins';

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &__text {
    text-transform: uppercase;
    color: $bg-shading;
    padding: 0.5rem 1.5rem;
    outline-color: $accent;
    font-size: 1.8rem;

    &:hover {
      color: $accent;
    }

    &--active {
      color: $accent;
    }
  }

  &__contained {
    @include font(1.8rem, $fMedium);
    background-color: $accent;
    color: $base;
    padding: 1.6rem 4rem;
    z-index: 1;

    &:hover {
      background-color: $red;
    }
  }

  &__outlined {
    @include font(1.8rem, $fBold);
    border: 2px solid $red;
    padding: 1.5rem;
    color: $base;

    &:hover {
      background-color: $red;
    }
  }
}
