@import './_mixins';
@import './_colours';
@import './_fonts';

.menu-card {
  @include flex(center, center, column);
  padding: 5rem 0;

  &__title {
    @include font(4.8rem, $fLight);
    text-align: center;
    padding-bottom: 2.5rem;
  }

  &__desc {
    @include font(1.6rem, $fLight);
    width: 42.5rem;
    max-width: 100%;
    text-align: center;
    line-height: 1.6;
    padding: 2.5rem 0;
  }

  &__nav {
    @include flex(space-between, center);
    flex-wrap: wrap;
    list-style: none;
    padding: 2.5rem 0;
  }

  &__dish {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3rem;
    padding-top: 2.5rem;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    width: 100%;
    justify-content: space-between;
    &-item {
      display: grid;
      grid-template-columns: 11fr 1fr;
      row-gap: 1rem;
      padding: 1.5rem 1.5rem 4rem;

      &--active {
        border: 2px solid $accent;
        position: relative;

        &::after {
          content: 'New';
          @include flex(center, center);
          @include font(1.4rem, $fBold);
          text-transform: uppercase;
          width: 6rem;
          height: 3rem;
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: $accent;
          color: white;
        }
      }
    }

    &-name {
      text-transform: uppercase;
    }

    &-name,
    &-price {
      @include font(1.6rem, $fRegular);
    }

    &-products {
      @include font(1.2rem, $fThin, italic);
    }
  }
}
